.button {
  display: inline-block;
  width: 100%;
  max-width: 250px;

  padding-top: $gutter * 0.5;
  padding-bottom: $gutter * 0.5;

  margin: 0;

  font-family: $font-main;
  font-size: 1rem;

  color: $color-1;
  text-align: center;
  text-decoration-line: none;
  cursor: pointer;
  background-color: $color-4;

  border-radius: 4px;

  transition: $transition;

  &:hover {
    color: $color-2;
    background-color: $color-3;
  }

  &__cart {
    max-width: 250px;
    content: url("../img/cart.svg");
  }
}
