@import "config";

.course {
    max-width: $max-width;
    margin: 0 auto;

    &__info {

        &__row {
            @include row;
            margin-bottom: $gutter;
            flex-wrap: wrap;
        }
        
        &__col {
            @include columns(12);

            margin-bottom: $gutter;

            @media (min-width: 800px) {
                @include columns(6);
            }
        }

        &__title {
            font-family: $font-heading;
            font-size: 2.25rem;
            font-weight: 600;
    
            margin-bottom: 2*$gutter;
        }

        &__text {
            font-size: 1.5rem;
            font-weight: 300;

            margin-bottom: 3*$gutter;
        }

    }

    @media (max-width: $max-width + $gutter) {
        padding-right: $gutter;
        padding-left: $gutter;
    }
}