@import "config";

.employees {
  max-width: $max-width;
  margin: 0 auto;

  &__row {
    @include row;
    margin-bottom: 2*$gutter;
    flex-wrap: wrap;
  }

  &__col {
    @include columns(12);

    margin-bottom: 2*$gutter;

    @media (min-width: 800px) {
      @include columns(6);
    }
  }

  @media (max-width: $max-width + $gutter) {
    padding-right: $gutter;
    padding-left: $gutter;
  }
}