@import "config";

.employee {

    position: relative;
    background-color: #928;

    &::before {
        display: block;
    }

    &__card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        width: 100%;
        height: 100%;
    }

    &__front {
        position: absolute;
        width: 100%;
        height: 100%;
    }

    &__back {
        position: absolute;
        width: 100%;
        height: 100%;
    }
}