@import "config";

.employees {

    max-width: $max-width;
    margin: 0 auto;
    background-color: #938;

    &__row {
        flex-wrap: wrap;
        @include row;
    }

    &__col {
        @include columns(12);

        @media (min-width: 800px) {
            @include columns(6);
        }
    }
}