@import "config";

.form {
  max-width: $max-width;
  margin-bottom: 2*$gutter;

  &__row {
    @include row;

    flex-wrap: wrap;
  }

  &__col {
    @include columns(12);

    margin-bottom: $gutter;

    @media (min-width: 800px) {
      @include columns(5);
      &:last-child {
        @include offset-left(1);
      }
    }
  }

  &__fieldset {
    border: 0;
  }

  &__legend {
    margin-bottom: $gutter;

    font-family: $font-heading;
    font-size: 2.25rem;
    font-weight: 600;
  }

  &__input, 
  &__select {
    flex: 1;

    padding: $gutter / 2;
    height: $gutter*2;

    font-family: $font-main;
    font-size: 0.875rem;

    border: 1px solid #000;
    border-radius: 3px;


  }

  &__field {
    display: flex;
    flex-wrap: wrap;

    margin-bottom: $gutter;

    font-size: 1.125rem;
    font-weight: 300;

    @media (min-width: 800px) {
      flex-wrap: nowrap;
    }
  }

  &__label {
    flex: 0 1 150px;
  }

  &__expiry {
    flex: 1;
    display: flex;
    justify-content: space-between;
  }

  &__expiry &__label, 
  &__expiry &__select {
    flex: 0;
  }

  &__send {
    display: flex;
    justify-content: center;
  }
  
}