.header {
  background-color: $color-3;
  font-family: $font-header;


  &__title {
    text-align: center;
    padding-top: $gutter;
    font-size: 3.75rem;
  }

  &__content {
    max-width: $max-width;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }

  &__links {
    display: flex;
    flex-direction: column;
    @media (min-width: 800px) {
      flex-direction: row;
    }
  }

  &__points {
    @include columns(12);
    padding-top: $gutter;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    list-style: none;

    @media (min-width: 800px) {
      @include columns(6);
      margin-left: 25%;
    }
  }

  &__point {
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: $gutter * 0.2;

    margin-right: $gutter * 0.5;
    margin-left: $gutter * 0.5;
  }

  &__cart {
    @include columns(12);
    display: flex;
    justify-content: center;
    color: $color-1;
    display: flex;
    @media (min-width: 800px) {
      @include columns(2);
      margin-left: 8.3333%;
      justify-content: flex-end;
      padding-right: $gutter *1;
    }

    &__text{
        text-align: center;
    }


  }

  &__link {
    text-decoration: none;
    font-weight: bold;
    color: $color-1;
  }
}
