@import "config";

.products {
  max-width: $max-width;
  margin: 0 auto;
  // flex-direction: row;

  @media (max-width: $max-width - 1) {
    padding-right: $gutter;
    padding-left: $gutter;
  }

  &__row {
    @include row; // Kemur úr config.scss
    flex-wrap: wrap;
    margin-bottom: 2 * $gutter;
  }

  &__col {
    @include columns(12); // kemur úr config.scss
    margin-bottom: 2 * $gutter;

    @media (min-width: 800px) {
      @include columns(6);
    }

    @media (min-width: $max-width - 1) {
      @include columns(4);
    }
  }
}
