@import "scss/config";

* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html { /* stylelint-disable-line */
  box-sizing: border-box;
  overflow-x: hidden;

  // TODO fleiri grunn stillingar
  font-size: 16px;
  font-family: 'Open Sans', helvetica, arial, sans-serif;
}



// TODO sækja allar sass skrár
@import "scss/header.scss";
@import "scss/footer.scss";
